.barbers{
    padding-top: 84px;
    padding-bottom: 84px;
    @media screen and (min-width: 720px) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 120px;
                padding-bottom: 103px;        }
    

&__desc {
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background: #303030;
        display: block;
    }
}

&__title {
    color: #303030    ;
    font-family: "Raleway";
    font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.1px;
    text-align: start;


}
}