.header {

    padding-top: 40px;
    position: absolute;
    width: 100%;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }


    &__nav {
        display: none;

        @media screen and (min-width: 720px) {
            display: block;
        }
    }

    &__list {
        display: flex;
        gap: 16px;

        @media screen and (min-width: 1200px) {
            gap: 30px;
        }
    }

    &__item {
        display: none;

        @media screen and (min-width: 720px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: end;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__point:first-child {
        @media screen and (min-width: 1200px) {
            order: 1;
        }
    }

    &__link {
        color: #FFF;

        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;

        &:hover,
        &:focus {
            color: #FF6C00;
        }
    }

    &__url {
        color: #FFF;

        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;
    }

    


}


.button {
    // padding: 12px 20px;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;
    border: 1px solid #FF6C00;

}
