.latin{
    padding-top: 120px;
    padding-bottom: 120px;

    &__pretext {
            color: #303030;
            font-family: "Open Sans";
            font-size: 11px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            margin-bottom: 44px;
    
            &::before {
                content: "";
                display: block;
                width: 60px;
                height: 1px;
                background: #303030;
                flex-shrink: 0;
                margin-right: 20px;
            }
        }
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            @media screen and (min-width:720px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                @media screen and (min-width: 1200px) {
                    flex-direction: row;
                }
        }
        &__img{
            width: 418px;
                height: 360px;
                @media screen and (min-width:720px) {
                    width: 330px;    
                      height: 360px;
                                    }
                
                    @media screen and (min-width: 1200px) {
                        width: 270px;      
                            height: 360px; 
                                           }
        }
}