.prices {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2)  ) url(/img/mobile/prices-mobile@1x.webp);
  background-repeat: no-repeat;
  background-color:  rgb(0, 0, 0);  
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: 
      url(../img/mobile/prices-mobile@2x.webp);
  }
  @media screen and (min-width: 720px) {
    background-image: 
      url(../img/tablet/prices-tablet@1x.webp);
  
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/tablet/prices-tablet@2x.webp);
    }
  }
  @media screen and (min-width: 1200px) {

      background-image:
      url(../img/desktop/prices-desktop@1x.webp);
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
          url(../img/desktop/prices-desktop@2x.webp);
      }
  }

  @media screen and (min-width: 720px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__desc {
    color: rgba(157, 164, 189, 0.6);
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    &::before {
      content: "";
      width: 60px;
      height: 1px;
      background: rgba(157, 164, 189, 0.6);
      display: block;
    }
  }

  &__title {
    color: #fff;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 44px;
    text-align: start;

    @media screen and (min-width: 720px) {
      font-size: 42px;
    }
  }

  &__list {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 20px 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      background: none;
    }
  }

  &__item {
    @media screen and (min-width: 1200px) {
      padding: 30px 21px 30px 20px;
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:first-child {
      background: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
    }

    &:nth-child(2) {
      background: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }

  &__elem {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;

    &::after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background-color: #9da4bd;
      margin: 0 12px;
    }
  }

  &__heading {
    color: #9da4bd;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    /* 142.857% */
    letter-spacing: 0.28px;
    display: flex;
    align-items: end;
    word-break: keep-all;

    @media screen and (min-width: 720px) {
      font-size: 18px;
      line-height: 1.66;
    }

    // &::after{
    //     content: "";
    //     display: block;
    //     height: 1px;
    //     width: 100%;
    //     background-color: white;
    // }
  }

  // &__line{
  //     width: 100%;
  // }
  &__text {
    color: #9da4bd;
    text-align: right;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    /* 142.857% */
    letter-spacing: 0.28px;
    order: 1;

    @media screen and (min-width: 720px) {
      font-size: 18px;
      line-height: 1.66;
    }
  }

  &__btn {
    color: #fff;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    border: 1px solid #ff6c00;
    border-radius: 25px;

    @media screen and (min-width: 1200px) {
      width: 160px;
      height: 40px;
    }
  }
}
